body {
    /* padding-top: 50px; */
    background: #f9f9f9;
}


#main
{
    width: 1024px;
    max-width: 100%;
    height: 512px;
    margin: 0 auto;
    display: flex;
    border: dashed #ccc 3px;
    border-radius: 10px;
}

*:focus
{
    outline:none;
}